<configuration scan="false" scanPeriod="60 seconds" debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{12} %X{traceId} %X{userId} %msg%n</pattern>
    </encoder>
  </appender>


  <root level="trace">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
